<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fantuan.system.dao.LoginDao">
    <!--根据邮箱获取用户信息-->
    <select id="getUserToEmail" parameterType="String" resultType="cn.fantuan.system.entities.User">
        select * from sys_user where email=#{username}
    </select>
    <!--根据手机获取用户信息-->
    <select id="getUserToPhone" parameterType="String" resultType="cn.fantuan.system.entities.User">
        select * from sys_user where phone=#{username}
    </select>
    <!--跟新用户密码根据电话号码跟新-->
    <update id="updatePassword">
        <if test='rest=="0"'>
            UPDATE sys_user SET password = #{password} WHERE phone = #{username}
        </if>
        <if test='rest=="1"'>
            UPDATE sys_user SET password = #{password} WHERE email = #{username}
        </if>
    </update>
    <!--注册用户-->
    <insert id="addUser">
        <if test='rest=="0"'>
            insert into sys_user (phone,password,name) VALUES (#{username},#{password},#{name})
        </if>
        <if test='rest=="1"'>
            insert into sys_user (email,password,name) VALUES (#{username},#{password},#{name})
        </if>
    </insert>
</mapper>