<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" long="en">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/styles/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/styles/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/styles/js/lay-module/step-lay/step.css}" media="all">
</head>
<title>忘记密码</title>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-top: 40px;">
                    <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                        <div carousel-item>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.getback}"></label>
                                        <div class="layui-input-block">
                                            <select lay-verify="required">
                                                <option value="1" disabled th:text="#{forget.phone}"></option>
                                                <option value="2" selected th:text="#{forget.mailbox}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.account}"></label>
                                        <div class="layui-input-block">
                                            <input type="text" th:placeholder="#{forget.fill}"
                                                   class="layui-input account" lay-verify="email"
                                                   required="required"
                                                   autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.set}"></label>
                                        <div class="layui-input-block">
                                            <input type="password" th:placeholder="#{forget.set_one}"
                                                   name="password"
                                                   class="layui-input password_1" lay-verify="pass"
                                                   required="required"
                                                   autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.setAgain}"></label>
                                        <div class="layui-input-block">
                                            <input type="password" th:placeholder="#{forget.set_two}"
                                                   class="layui-input password_2" lay-verify="pass"
                                                   required="required"
                                                   autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="formStep"
                                                    th:text="#{forget.next}"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.account}"></label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux account_two"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.code}"></label>
                                        <div class="layui-input-block">
                                            <input type="text" th:placeholder="#{login.code}" name="code"
                                                   class="layui-input"
                                                   required="required" autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="button" class="layui-btn layui-btn-primary pre"
                                                    th:text="#{forget.back}"></button>
                                            <button type="button" class="layui-btn layui-btn-normal getCode"
                                                    th:text="#{forget.getcode}"></button>
                                            <button class="layui-btn confirmBtn" lay-submit lay-filter="formStep2"
                                                    th:text="#{forget.confirm}"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <div style="text-align: center;margin-top: 90px;">
                                    <i class="layui-icon layui-circle"
                                       style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                    <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;"
                                         th:text="#{forget.success}"></div>
                                    <div style="font-size: 14px;color: #666;margin-top: 20px;"
                                         th:text="#{forget.msg}"></div>
                                </div>
                                <div style="text-align: center;margin-top: 50px;">
                                    <button class="layui-btn layui-btn-primary next" th:text="#{forget.back}"></button>
                                    <button class="layui-btn land" th:text="#{forget.land}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="color: #666;margin-top: 30px;margin-bottom: 40px;padding-left: 30px;"
                         th:fragment="information">
                        <h3>[[#{forget.explain}]]</h3><br>
                        <h4>[[#{forget.information}]]</h4>
                        <p>[[#{forget.information_one}]]</p>
                        <br><h4>[[#{forget.getcode}]]</h4>
                        <p>[[#{forget.information_two}]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="js">
    <script th:src="@{/styles/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
    <script th:src="@{/styles/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>
    <script th:src="@{/styles/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
    <!--导入自定义的一些公共方法-->
    <script th:src="@{/styles/js/my_function.js}"></script>
    <script type="text/javascript">
        //<![CDATA[
        layui.use(['form', 'step'], function () {
                var $ = layui.$;
                var form = layui.form;
                var step = layui.step;
                var btn_getCode = false;
                var account = $("select option:selected").val();
                var verify;

                form.verify({
                    pass: [/^(?=.*[a-zA-Z])(?=.*\d)[^]{6,}$/, '[[#{forget.msgPasswordRules}]]']
                })

                //下拉列表的选中事件
                $(".layui-anim-upbit dd").on('click', function () {
                    //判断元素是否为不可点击状态
                    if ($(this).prop("disabled") == true) {
                        account = $(this).attr("lay-value");
                    }
                    if (account == 1) {
                        verify = "phone";
                    } else {
                        verify = "email";
                    }
                    $('.account').attr("lay-verify", verify);
                });

                step.render({
                    elem: '#stepForm',
                    filter: 'stepForm',
                    width: '100%', //设置容器宽度
                    stepWidth: '750px',
                    height: '500px',
                    stepItems: [{
                        title: '[[#{forget.step_one}]]'
                    }, {
                        title: '[[#{forget.getcode}]]'
                    }, {
                        title: '[[#{forget.step_two}]]'
                    }]
                });

                form.on('submit(formStep)', function (data) {
                    if ($('.password_1').val() == $('.password_2').val()) {
                        //赋值给获取验证码的账号
                        $('.account_two').text($('.account').val());
                        step.next('#stepForm');
                    } else {
                        layer.msg("[[#{forget.msg_pass}]]", {icon: 2, time: 3 * 1000, shift: 6});
                    }
                    return false;
                });

                form.on('submit(formStep2)', function (data) {
                    if ($("input[name='code']").val() == "") {
                        layer.msg('[[#{forget.codeMsg}]]', {icon: 2, time: 3 * 1000, shift: 6})
                        return false;
                    }
                    ajax({code: $("input[name='code']").val()}, "/forgetPassword/ifCode", function (data) {
                        if (data == 1) {
                            ajax({
                                password: $("input[name='password']").val(),
                                username: $('.account').val()
                            }, "/forgetPassword/updatePassword", function (rest) {
                                if (rest.code == 1) {
                                    //分布表单下一步
                                    step.next('#stepForm');
                                } else {
                                    layer.msg(rest.message, {icon: 2, time: 3 * 1000, shift: 6})
                                }
                            }, "json")
                        } else {
                            layer.msg('[[#{forget.codeMsg}]]', {icon: 2, time: 3 * 1000, shift: 6})
                        }
                    });
                    return false;
                });

                form.on('submit(formStep3)', function (data) {
                    if ($("input[name='code']").val() == "") {
                        layer.msg('[[#{forget.codeMsg}]]', {icon: 2, time: 3 * 1000, shift: 6})
                        return false;
                    }
                    ajax({code: $("input[name='code']").val()}, "/forgetPassword/ifCode", function (data) {
                        if (data == 1) {
                            ajax({
                                password: $("input[name='password']").val(),
                                username: $('.account').val(),
                                name: $("input[name='name']").val()
                            }, "/registered/addUser", function (rests) {
                                console.log(rests)
                                if (rests.code == 1) {
                                    //分布表单下一步
                                    step.next('#stepForm');
                                } else {
                                    layer.msg(rests.message, {icon: 2, time: 3 * 1000, shift: 6})
                                }
                            }, "JSON")
                        } else {
                            layer.msg('[[#{forget.codeMsg}]]', {icon: 2, time: 3 * 1000, shift: 6})
                        }
                    });
                    return false;
                });

                $('.pre').click(function () {
                    //分布表单上一步
                    step.pre('#stepForm');
                });

                //获取验证码，一分钟内只能点击一次
                $('.getCode').on('click', function () {
                    if (!btn_getCode) {
                        btn_getCode = true;
                        getcode($(this));
                        ajax({user: $('.account_two').text()}, "/forgetPassword/getCode");
                    } else {
                        return false;
                    }
                })

                $('.next').click(function () {
                    step.pre('#stepForm');
                });

                //前往登录
                $('.land').click(function () {
                    window.location = 'login';
                });

                //点击事件
                var getcode = function (date) {
                    //获取点击的对象
                    var obj = date;
                    //获取按钮的文本
                    var text = obj.text();
                    //给对象添加禁止点击
                    obj.addClass("layui-disabled");
                    var time = 59;
                    //定义一个每秒执行一次的事件
                    var timer = setInterval(function () {
                        var temp = time--;
                        //更改按钮的值
                        obj.text(text + ' (' + temp + "S)");
                        //判断是否已经结束了禁止点击的时间
                        if (temp <= 0) {
                            btn_getCode = false;
                            //移除禁止点击的效果
                            obj.removeClass("layui-disabled");
                            //改回按钮的值
                            obj.text(text);
                            //清除每秒执行的一次的事件
                            clearInterval(timer);
                            return;
                        }
                    }, 1000);
                }
                //发送异步请求，获取验证码
                var ajax = function (user, url, success, dataType) {
                    ajax_data.data = user;
                    ajax_data.success = success;
                    ajax_data.url = url;
                    ajax_data.dataType = dataType;
                    MyMethod.ajax();
                }
            }
        )
        // ]]>
    </script>
</div>
</body>
</html>