<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" long="en">
<head th:include="subsidiary/forget :: head"/>
<title>立即注册</title>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-top: 40px;">
                    <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                        <div carousel-item>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.regMath}"></label>
                                        <div class="layui-input-block">
                                            <select lay-verify="required">
                                                <option value="1" disabled th:text="#{forget.phone}"></option>
                                                <option value="2" selected th:text="#{forget.mailbox}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.account}"></label>
                                        <div class="layui-input-block">
                                            <input type="text" th:placeholder="#{forget.fill}"
                                                   name="username"
                                                   class="layui-input account" lay-verify="email"
                                                   required="required"
                                                   autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.set}"></label>
                                        <div class="layui-input-block">
                                            <input type="password" th:placeholder="#{forget.setPassword}"
                                                   name="password"
                                                   class="layui-input password_1" lay-verify="pass"
                                                   required="required"
                                                   autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.setAgain}"></label>
                                        <div class="layui-input-block">
                                            <input type="password" th:placeholder="#{forget.set_two}"
                                                   class="layui-input password_2" lay-verify="pass"
                                                   required="required"
                                                   autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="formStep"
                                                    th:text="#{forget.next}"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.account}"></label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux account_two"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.usernam}"></label>
                                        <div class="layui-input-block">
                                            <input type="text" name="name" th:placeholder="#{forget.fillname}" class="layui-input"
                                                    autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label" th:text="#{forget.code}"></label>
                                        <div class="layui-input-block">
                                            <input type="text" name="code" th:placeholder="#{login.code}" class="layui-input"
                                                   lay-verify="number" required="required" autocomplete="new-password"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="button" class="layui-btn layui-btn-primary pre"
                                                    th:text="#{forget.back}"></button>
                                            <button type="button" class="layui-btn layui-btn-normal getCode"
                                                    th:text="#{forget.getcode}"></button>
                                            <button class="layui-btn" lay-submit lay-filter="formStep2"
                                                    th:text="#{login.registered}"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <div style="text-align: center;margin-top: 90px;">
                                    <i class="layui-icon layui-circle"
                                       style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                    <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;"
                                         th:text="#{forget.registerSuccess}"></div>
                                    <div style="font-size: 14px;color: #666;margin-top: 20px;"
                                         th:text="#{forget.msg}"></div>
                                </div>
                                <div style="text-align: center;margin-top: 50px;">
                                    <button class="layui-btn layui-btn-primary next" th:text="#{forget.back}"></button>
                                    <button class="layui-btn land" th:text="#{forget.land}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div th:include="~{subsidiary/forget :: information}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="subsidiary/forget :: js"></div>
</body>
</html>